{% extends "base.html" %}

{% block page_title %}Iniciar sesión{% endblock %}
{% block page_subtitle %}Accede al sistema LedgerFlow{% endblock %}

{% block content %}

<div class="login-card">
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email" name="email" class="form-control" placeholder="admin@ledgerflow.local" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="••••••••" required>
        </div>

        <button type="submit" class="btn btn-success w-100">
            Entrar
        </button>
    </form>
</div>

{% endblock %}